@import "tailwindcss";

body {
  background: #181620;
  color: #e8e6ed;
}

@layer utilities {
  .no-number-controls::-webkit-inner-spin-button,
  .no-number-controls::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-number-controls {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
  }
}